<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/class.css' %}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Room View</title>
    <link rel="stylesheet" type=text/css href="css/bootstrap.min.css">
    <link rel="stylesheet" type=text/css href="css/bootstrap.grid.min.css">
    <link rel="stylesheet" type=text/css href="css/bootstrap-reboot.min.css">
    <link rel="stylesheet" type=text/css href="./style.css">
    <script type="text/javascript" src="./js/jquery-3.4.1.min.js"></script>
    <style>
    .side{
      margin-left: 15px;
    }
    .side1{
      margin-left: 550px;
    }
    .bg {

    background-image: url("{% static 'images/img8..jpg' %}");
    background-repeat: no-repeat;
        background-size:cover;
    }
    .btn{
    width:100px
    }
    </style>
</head>
    <body class="">

            <div class="bg-secondary text-white ani" >

                <center><h1>Seating  Allotment </h1></center>
                <a href="/class_select/" align="left"><h5 align="right">HOME</a>&nbsp&nbsp&nbsp
                <a href="/admin/">ADMIN</h5></a>



                </div>
            <div class="bg" style="height:500px;" align="center">
                <h2 class="text-info">click room to get view</h2>
<form action="/room_view/" method="POST">
    {% csrf_token %}
                {% for i in dict %}

                <a href="/{{i}}_view/"><button class="btn btn-success" type="submit" name="button" value="{{i}}">{{i}}</button></a><br><br>

                {% endfor %}
</form>
            </div></body></html>
