<!DOCTYPE html>
{% load staticfiles%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> room view</title>
</head>


<body>
<h1 align="center">Room No:<u>{{room}}</u></h1>
<h1><table border="2px" align="center">
<tbody>
<tr>
    <td>1</td>
    <td>2</td>
    <td>3</td>
    <td>4</td>
    <td>5</td>


</tr>

<tr>
    {% for j in dict.0 %}
    {% if j == 'abcdef' %}
    <td>null</td>
    {% else %}
    <td>{{j}}</td>
    {% endif%}
    {% endfor %}
</tr>
<tr>
    {% for j in dict.1 %}
    {% if j == 'abcdef' %}
    <td>null</td>
    {% else %}
    <td>{{j}}</td>
    {% endif%}
    {% endfor %}
</tr>
<tr>
    {% for j in dict.2 %}
    {% if j == 'abcdef' %}
    <td>null</td>
    {% else %}
    <td>{{j}}</td>
    {% endif%}
    {% endfor %}
</tr>
<tr>
    {% for j in dict.3 %}
    {% if j == 'abcdef' %}
    <td>null</td>
    {% else %}
    <td>{{j}}</td>
    {% endif%}
    {% endfor %}
</tr>
<tr>
    {% for j in dict.4 %}
    {% if j == 'abcdef' %}
    <td>null</td>
    {% else %}
    <td>{{j}}</td>
    {% endif%}
    {% endfor %}
</tr>
<tr>
    {% for j in dict.5 %}
    {% if j == 'abcdef' %}
    <td>null</td>
    {% else %}
    <td>{{j}}</td>
    {% endif%}
    {% endfor %}
</tr>
<tr>
    {% for j in dict.6 %}
    {% if j == 'abcdef' %}
    <td>null</td>
    {% else %}
    <td>{{j}}</td>
    {% endif%}
    {% endfor %}
</tr>
<tr>
    {% for j in dict.7 %}
    {% if j == 'abcdef' %}
    <td>null</td>
    {% else %}
    <td>{{j}}</td>
    {% endif%}
    {% endfor %}
</tr>
</tbody>


</table></h1>
</body>
</html>